@keyframes popup{
from{
  /* transform: scale(0.0); */
  background-color: red;
  transform: translateX(-50%);
}
to{
  background-color: red;
  transform: scale((1.0));
  transform: translateX(0%);
}
}


.nav-card{
  animation: popup 500ms timing-function delay iteration-count direction fill-mode;
}