.banner{
    background: url('https://i.ibb.co/8P6G6Gh/3d-rendering-loft-luxury-living-room-with-shelf-near-dining-table.jpg'),linear-gradient(rgb(58, 57, 57,0.5),rgba(66, 65, 63, 0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}